backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
colorama==0.4.4
coloredlogs==15.0.1
cvdupdate==1.0.2
distlib==0.3.3
dnspython==2.1.0
filelock==3.4.0
humanfriendly==10.0
idna==3.3
platformdirs==2.4.0
protobuf==3.17.3
rangehttpserver==1.2.0
requests==2.26.0
six==1.16.0
urllib3==1.26.7
virtualenv==20.10.0
